%btn {
        top: 20px;
        border-radius: 10px;
        padding: 10px 30px;
        max-height: 50px;
        max-width: 30px !important;
        font-size: 18px;
        letter-spacing: 0.6px;
        word-spacing: 0.7px;
        transition: 0.07s ease-in-out;

    &:hover {
        color: $light-color !important;
        border-radius: 14px;
        border: 1px solid rgba(1, 14, 49, 0.425);
        box-shadow: inset 0 0 20px 20px rgba(1, 14, 49, 0.425);
    }
}

    .btn-primary {
       @extend %btn;
        border: 1px solid rgb(152, 159, 224);
        color: $light-color !important;
    } 

    .btn-secondry {
        @extend %btn;
        background-color: lighten($primary-color, 15%);
        margin: 0 0 0 15px;
    }

    
    .btn-third {
        transition: 0.07s ease-in-out;
        background-color: lighten($primary-color, 15%);
        color: #fff;
        padding: 10px 20px;
        border-radius: 50px;
        position: fixed;
        margin: 50px 70px;
        z-index: 100;
        box-shadow: 0px 0px 20px 0px #00000052 !important;
    }
    .btn-third:hover {
        background-color: lighten($primary-color, 25%);
    }
