@import 'config';
@import 'buttons';


* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
    height: 1100px;

        .showcase {
        background-color: $primary-color;
        color: $light-color;
        height: 500px;

                    nav {
                        width: 100%;
                        height: 50px;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 2px  solid $secondry-color;

                    ul {
                    list-style-type: none;
                    display: flex;
                    gap: 20px;

                    li {
                        font-size: 20px;
                        margin: 5px 15px 0 0;
                        transition: 0.2s ease-in-out;
                    } 
                }
                    .logo {
                    font-size: 34px;
                    letter-spacing: -3px;
                    }.logo-color {
                    color: $secondry-color;
                }
            }

.container {
    max-width: 80%;
    padding: 0 10px;
    margin: 0 auto;
    overflow: visible;

    a {
    color: $link-color;
}
    a:hover {
    color:$secondry-color;
}
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .colored-heading {
        color: $secondry-color;
    }

    img {
    width: 120%;
    justify-content: flex-end;
    position: relative;
    top: 40px;
    right: 80px;
}
    h1 {
        margin: 25px 0 ;
        font-size: 55px;
        line-height: 1.2;
        letter-spacing: 2px;
    }

    p {
        margin:0px 0 40px 0;
        width: 85%;
        font-size: 18px;
    }
    

}
} 
}



